<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Giuseppe Gullo:</li>
        <li>MATEMATICA 9,0</li>
        <li>ITALIANO 7,3</li>
        <li>INGLESE 7.5,4</li>
        <li>STORIA 7.5,4</li>
        <li>GEOGRAFIA 5,7</li>
    </ul>
    <ul>
        <li>Antonio Barbera:</li>
        <li>MATEMATICA 8,1</li>
        <li>ITALIANO 6,1</li>
        <li>INGLESE 9.5,0</li>
        <li>STORIA 8,2</li>
        <li>GEOGRAFIA 8,1</li>
    </ul>
    <ul>
        <li>Nicola Spina:</li>
        <li>MATEMATICA 7.5,2</li>
        <li>ITALIANO 6,2</li>
        <li>INGLESE 4,3</li>
        <li>STORIA 8.5,2</li>
        <li>GEOGRAFIA 8,2</li>
    </ul>
    
</body>
</html>